* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 10px;

  display: flex;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h2 {
  margin: auto;
}
.buttons {
  display: flex;
  gap: 10px;
  padding-right: 20px;
}
#search {
  width: 502px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: rgb(232, 232, 232);
  font-size: 25px;
  margin-left: 190px;
  border-radius: 30px;
}
#search::placeholder {
  color: gray;
  text-align: center;
  font-size: 20px;
}
#add {
  border: none;
  background-color: rgb(255, 255, 255);
  margin-left: 26px;
  text-decoration: none;
  color: black;
  width: 94px;
  height: 48px;
  border-radius: 32px;
  cursor: pointer;
}
#logout {
  border-radius: 32px;
  width: 94px;
  height: 48px;
  background-color: black;
  color: white;
  border: none;
  margin-left: 390px;
  cursor: pointer;
}

/* modal */
.modal {
  top: 10%;
  left: 25%;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  position: relative;
  text-align: center;
  margin: auto;
  min-height: initial;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
  width: 484px;
  height: 600px;
  display: none;
}

.modal-bg {
  position: fixed;
  z-index: 0;
  /* background-color: rgba(0, 0, 0, 0.634); */
  backdrop-filter: blur(2px);
}
